.card-mb-30 {
    margin-bottom: 30px;
}

.p-20-10 {
    padding: 20px 10px;
}

.items-left {
    text-align: left;
}

.color-white {
    color: #fff;
}

.mb-20 {
    margin-bottom: 20px;
}

.bg-white {
    background-color: #fff;
}
